<template>
  <f7-page name="products">
    <f7-navbar :sliding="false" large back-link="Back">
<!--       <f7-nav-left>
        <f7-link icon-ios="f7:menu" icon-aurora="f7:menu" icon-md="material:menu" panel-open="left"></f7-link>
      </f7-nav-left> -->
      <f7-nav-title sliding>Sara Fashion</f7-nav-title>
      <f7-nav-title-large sliding>Sara Fashion</f7-nav-title-large>
    </f7-navbar>
    <f7-block-title>Products</f7-block-title>
    <f7-list>
      <f7-list-item v-for="product in products" link="#" :header="product.id" :title="product.author" after="Buy">
        <f7-icon slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
  export default {
    data() {
      return {
        products: this.$f7route.context.products,
      }
    },

    mounted() {

    }
  }
</script>
